            .cta {
                width: 100%;
                background-color: #d3cdcd;
                border-radius: 6px;
                border: 1px solid rgba(255, 255, 255, 0.08);
                padding: 20px;
                margin-top: 20px;
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
            }
            
            .tqa-introduction {
                display: flex;
                flex-direction: column;
                gap: 50px;
                padding-top: 30px;
            }
            
            .city-tour {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 30px;
            }
            
            .city-tour h3 {
                font-family: "Figtree", sans-serif;
                font-weight: 600;
                font-size: 3em;
                color: #000000 !important;
            }
            
            .city-tour h4 {
                font-family: "Figtree", sans-serif;
                font-weight: 600;
                font-size: 2em;
                color: #000000 !important;
                line-height: 1.4;
            }
            
            .city-tour p {
                font-family: "Manrope", sans-serif;
                font-weight: 600;
                font-size: 18px;
                color: #000000 !important;
            }
            
            .date-alert {
                display: flex;
                /* justify-content: space-between; */
                gap: 30px;
                align-items: center;
                margin: 0 auto;
            }
            
            .date-alert p {
                font-family: "Manrope", sans-serif;
                font-weight: 600;
                font-size: 14px;
                color: #000000 !important;
            }
            
            .cta-btn {
                display: flex;
                gap: 30px;
                flex-direction: column;
                padding-top: 20px;
            }
            
            .cta-btns p {
                padding-bottom: 10px;
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                font-size: 24px;
                color: #000000 !important;
                text-align: center;
            }
            
            .tqa-btn {
                display: flex;
                justify-content: center;
                gap: 30px;
            }
            
            .tqa-btn button {
                background-color: #DAA425;
                padding: 12px 24px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
            }
            
            .tqa-btn button a {
                text-decoration: none;
                color: #171717 !important;
                font-family: "Manrope", sans-serif;
                font-weight: 600;
                font-size: 16px;
            }
            
            @media screen and (max-width: 768px) {
                .city-tour h3 {
                    font-size: 2em;
                }
                .city-tour h4 {
                    font-size: 1em;
                }
                .city-tour p {
                    font-size: 14px;
                }
                .date-alert p {
                    font-size: 12px;
                }
                .cta-btns p {
                    font-size: 18px;
                }
                .tqa-btn button {
                    padding: 10px 20px;
                }
                .tqa-btn button a {
                    font-size: 12px;
                }
                .tqa-introduction {
                    gap: 30px;
                }
            }